      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Nouveau salon</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()" href="#" ui-sref="chatList()">Annuler</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Nom du salon</span>
              <input ng-model="newSalon.nomSalon" type="text">
            </label>
            <button class="button button-full button-positive" ng-click="createSalon(newSalon)">Créer</button>
          </div>
        </ion-content>
      </ion-modal-view>