<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/firebase/firebase.js"></script>
    <script src="lib/angularfire/dist/angularfire.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
    <script>
  // Initialize Firebase
      var config = {
        apiKey: "AIzaSyClN4C_NyIJD_w7bn1zRwaG-O9XOrnK3xk",
        authDomain: "cesi-rill5-cimbaluria.firebaseapp.com",
        databaseURL: "https://cesi-rill5-cimbaluria.firebaseio.com",
        storageBucket: "cesi-rill5-cimbaluria.appspot.com",
        messagingSenderId: "627087071869"
      };
      firebase.initializeApp(config);
    </script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- chat js -->
    <script src="js/chat/chat.module.js"></script>
    <script src="js/chat/chat.service.js"></script>
    <script src="js/chat/chat.directive.js"></script>
    <script src="js/chat/chat.controller.js"></script>
    <script src="js/chat/chat.route.js"></script>
    <!-- auth js -->
    <script src="js/auth/auth.module.js"></script>
    <script src="js/auth/auth.service.js"></script>
    <script src="js/auth/auth.directive.js"></script>
    <script src="js/auth/auth.controller.js"></script>
    <script src="js/auth/auth.route.js"></script>
    <!-- your app's js -->
    <script src="js/app.module.js"></script>

  </head>
  <body ng-app="app">

    <ion-pane>
      <ion-header-bar class="bar-positive">
       <button  class="button button-icon ion-log-in md-log-in" href="#" ui-sref="login()"></button>
        <h1 class="title">MusicChat</h1>
        <div class="buttons">
        <button ng-controller="addChatModalCtrl" class="button button-icon ion-compose" ui-sref="addChat()" ng-click="modal.show()">
        </button>
      </div>
      </ion-header-bar>
      <ion-content>
      <div ui-view></div>
      </ion-content>
    </ion-pane>
  </body>
</html>
