<h3 class="title">Liste des salons</h3>

<ion-list>
	<ion-item ng-repeat="message in messages | orderBy:orderBy | filter:searchText" ui-sref="discussion({id:message.$id})" >
      {{ message.nom }}
    </ion-item>
</<ion-list>
