
<ion-view title="Conversation">
  <ion-content padding="true">
    <div ng-repeat="message in tchat">
        <div ng-if="message.id == id">
          <div>
            {{ message.content }}
          </div>
        </div>
      <div style="clear:both"></div>
      <div ng-if="message.id != id">
        <div>
          {{ message.content }}
        </div>
      </div>
      <div style="clear:both"></div>
    </div>
  </ion-content>
    <ion-footer-bar keyboard-attach>
      <form style="width: 100%">
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <input type="search" placeholder="Tapez un message" ng-model="add.message">
        </label>
        <button type="submit" ng-click="add(add)">
          Envoyer
        </button>
      </div>
        <form>
    </ion-footer-bar>
  </form>
</ion-view>
